body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.big-title {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 40px;
    font-weight: 600;
}
.container {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 24px 22px 69px -5px rgba(108, 109, 128, 1);
    padding: 30px;
    width: 95vw; /* Prawie cała szerokość ekranu */
    max-width: 1400px; /* Możesz zwiększyć, np. 1600px */
}

.fixture-item.header:hover {
    background-color: transparent !important;
}
/* FIXTURE HEADER (pierwszy wiersz tytułowy) */
.fixture-header {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    color: #5553ff;
    justify-content: center;
}
.fixture-header > span {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}

/* FIXTURE SUMMARY + ITEMS */
.fixture-summary {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.fixture-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    align-items: center;
}
.fixture-item:last-child {
    border-bottom: none;
}
.fixture-item > span {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}

.fixture-item, .fixture-header {
    display: flex;
    width: 100%;
}
.fixture-item > span, .fixture-header > span {
    flex: 1;
    text-align: center;
    padding: 10px;
    min-width: 150px;
}
.fixture-item:hover {
    background-color: #f1f1f1;
}

/* Drobne style w itemach */
.fixture-name {
    color: #333;
    font-weight: 600;
}
.counter-count {
    font-weight: 400;
    color: #000000;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-1 {
    background-color: #ff0000;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    user-select: none;
}
.button-1:hover {
    background-color: #8a0000;
    color: white;
}

/* ROZWIJANA SEKCJA */
.more {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.more-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.more-header span {
    font-weight: bold;
    color: #5553ff;
    font-size: 17px;
    width: 304px;
    padding: 10px;
    text-align: center;
}
.more-content {
    display: flex;
    justify-content: center;
}
.more-content span {
    font-weight: 400;
    color: #000000;
    width: 304px;
    text-align: center;
    padding: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .fixture-item {
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
    }
    .fixture-item > span {
        text-align: left;
        padding: 5px 0;
    }
    .fixture-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .fixture-header > span {
        text-align: left;
        padding: 5px 0;
    }
}

.titles {
    color: rgb(22, 24, 54);
    text-decoration: none;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 25px;
}

.titles a {
    color: rgb(22, 24, 54);
    text-decoration: none;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    display: inline-block; /* Zapewnia, że tylko tekst linka będzie klikalny */
    padding: 2px 5px; 
}
.titles a:hover {
    color: darkblue;
    transform: scale(1.1);
    box-shadow: 0px 0px 100px -33px rgba(66, 68, 90, 1);
}